<h2>My Heroes</h2>
<ul class="heroes">
  <div class="div-style">
    <div>
      <li *ngFor="let hero of heroes">


        <button type="button" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>


      </li>

    </div>
    <div>
      <app-detail (numberChange)="multiplicate($event)" [selectedHero]="selectedHero"></app-detail>

    </div>
    <div appPays color="orange">
      <app-pays [pays]="selectedHero?.pays"></app-pays>
    </div>
    <h2>Changé : {{result}}</h2>
  </div>
</ul>

